<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNGDemo" parallel="tests">
	<test name="Demo">
		<classes>
			<class name="june23.TestNGSample"/>				
		</classes>	
	</test>
	<test name="Demo1">
		<classes>
			<class name="june23.AnnotationsDemo"/>	
		</classes>	
	</test>
</suite>
